@charset 'utf-8';

/*normalize.css*/*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-family:"PingFangSC-Regular", "Microsoft Yahei", sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0;font-size:14px}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent;text-decoration:none}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}ul{margin:0;padding:0;list-style:none}

.header{
  height: 50px;
  background-color: #489AF3;
}

.nav {
  margin-left: 150px;
}
.nav li{
  display: inline-block;
}
.nav li a{
  padding: 15px 30px 15px 30px;
  line-height: 50px;
  color: #fff;
}
.nav li a:hover{
  background-color: #61A7F2;
}

.container{
  min-height: 100vh;
  width: 80%;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin: 0 auto;
}

.aside{
  width: 250px;
  min-height: 100vh;
  float: right;
  border-left:1px solid #ccc;
}
.menu {
  width: 200px;
  margin: 30px auto 0;
  border:1px solid #ccc;
  border-radius: 4px;
  padding-left: 0;
}
.menu li{
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}
.menu li:last-child{
  border-bottom: none;
}
.menu li a{
  text-indent: 2em;
  color: #489AF3;
  width: 200px;
  padding: 10px;
  display: inline-block;
}
.menu li a:hover{
  background-color: #489AF3;
  color: #fff;
}

.content{

}
.section{
  height: 150px;
  padding: 20px;
  margin-right: 250px;
}
.title{
  margin: 0;
}
.article{
  height: 120px;
  padding: 10px;
}


.footer{
  height: 100px;
  background-color: #489AF3;
}

.copyright{

}